on boot
    # Create USB gadget configfs structure
    mkdir /config/usb_gadget/g1 0775 system system
    mkdir /config/usb_gadget/g1/strings/0x409 0770 system system
    write /config/usb_gadget/g1/bcdUSB 0x0200
    write /config/usb_gadget/g1/idVendor 0x18d1
    write /config/usb_gadget/g1/idProduct 0x4ee7
    write /config/usb_gadget/g1/bcdDevice 0x0001
    write /config/usb_gadget/g1/strings/0x409/serialnumber ${ro.serialno}
    write /config/usb_gadget/g1/strings/0x409/manufacturer ${ro.product.manufacturer}
    write /config/usb_gadget/g1/strings/0x409/product ${ro.product.model}
    mkdir /config/usb_gadget/g1/functions/ffs.adb
    mkdir /config/usb_gadget/g1/functions/ffs.mtp
    mkdir /config/usb_gadget/g1/functions/ffs.ptp
    mkdir /config/usb_gadget/g1/configs/b.1 0770 system system
    mkdir /config/usb_gadget/g1/configs/b.1/strings/0x409 0770 system system
    write /config/usb_gadget/g1/configs/b.1/MaxPower 500
    mkdir /dev/usb-ffs 0775 shell system
    mkdir /dev/usb-ffs/adb 0775 shell system
    mount functionfs adb /dev/usb-ffs/adb rmode=0775,fmode=0660,uid=2000,gid=2000
    mkdir /dev/usb-ffs/mtp 0770 mtp mtp
    mkdir /dev/usb-ffs/ptp 0770 mtp mtp
    mount functionfs mtp /dev/usb-ffs/mtp rmode=0770,fmode=0660,uid=1024,gid=1024,no_disconnect=1
    mount functionfs ptp /dev/usb-ffs/ptp rmode=0770,fmode=0660,uid=1024,gid=1024,no_disconnect=1
    setprop sys.usb.ffs.aio_compat 1

    # USB controller: the dwc3 DRD on USB3 port A (k3.dtsi usb3@cad00000, OTG role switch on the
    # pico-itx reference board). TODO on the SM10: confirm the name with ls /sys/class/udc.
    setprop sys.usb.controller "cad00000.usb3"
    setprop vendor.usb.controller "cad00000.usb3"

    # chown USB gadget nodes
    chown system system /config/usb_gadget/g1/UDC
    chown system system /config/usb_gadget/g1/idProduct
    chown system system /config/usb_gadget/g1/idVendor
    chown system system /config/usb_gadget/g1/bcdDevice
    chown system system /config/usb_gadget/g1/bcdUSB
    chown system system /config/usb_gadget/g1/bMaxPacketSize0
    chown system system /config/usb_gadget/g1/bDeviceProtocol
    chown system system /config/usb_gadget/g1/bDeviceSubClass
    chown system system /config/usb_gadget/g1/bDeviceClass
    chown system system /config/usb_gadget/g1/strings/0x409/serialnumber
    chown system system /config/usb_gadget/g1/strings/0x409/product
    chown system system /config/usb_gadget/g1/strings/0x409/manufacturer
    chown system system /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration
    chown system system /config/usb_gadget/g1/configs/b.1/bmAttributes
    chown system system /config/usb_gadget/g1/configs/b.1/MaxPower
    chown system system /config/usb_gadget/g1/functions/ffs.adb
    chown system system /config/usb_gadget/g1/functions/ffs.mtp
    chown system system /config/usb_gadget/g1/functions/ffs.ptp
    chown system system /config/usb_gadget/g1/max_speed

    # Must be set during early-boot, BEFORE adbd starts (which triggers on sys.usb.configfs=1)
    setprop sys.usb.configfs 1
